{% extends '@OroUI/actions/view.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% import "@OroActivity/macros.html.twig" as AC %}
{% import '@OroEntityConfig/macros.html.twig' as entityConfig %}
{% import '@OroUser/macros.html.twig' as U %}
{% import '@OroDataGrid/macros.html.twig' as dataGrid %}

{% oro_title_set({params : {"%entity.name%": entity.name|default('N/A'|trans) }}) %}

{% block navButtons %}
    {% import '@OroActivity/macros.html.twig' as AC %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {% placeholder view_navButtons with {entity: entity} %}
    {% if is_granted('EDIT', entity) %}
        {# Button for add context on the activity list item view page #}
        {{ AC.addContextButton(entity) }}
        {{ UI.editButton({
            'path' : path('oro_conversation_update', { id: entity.id }),
            'entity_label': 'oro.conversation.entity_label'|trans
        }) }}
    {% endif %}

{% endblock navButtons %}

{% block stats %}
    {% import '@OroActivity/macros.html.twig' as AC %}
    {# Display contexts targets in the activity view page #}
    <li class="context-data activity-context-activity-block">
        {{ AC.activity_contexts(entity) }}
    </li>
{% endblock stats %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('oro_conversation_index'),
        'indexLabel': 'oro.conversation.entity_plural_label'|trans,
        'entityTitle': entity.name
    } %}
    {{ parent() }}
    <div class="row inline-info">
        <div class="pull-left-extra">
            <ul class="inline">
                <li>{{ 'oro.ui.created_at'|trans }}: {{ entity.createdAt ? entity.createdAt|oro_format_datetime : 'N/A'|trans }}</li>
                <li>{{ 'oro.ui.updated_at'|trans }}: {{ entity.updatedAt ? entity.updatedAt|oro_format_datetime : 'N/A'|trans }}</li>
                {% if entity.sourceEntityId %}
                    <li>{{ 'oro.conversation.source.label'|trans }}:
                    {% set sourceEntity = oro_entity_reference(entity.sourceEntityClass, entity.sourceEntityId) %}
                    {{ sourceEntity|oro_conversation_entity_type }}
                    {% if is_granted('VIEW', sourceEntity) %}
                        <a class="user" href="{{ oro_entity_object_view_link(sourceEntity) }}">{{ sourceEntity|oro_format_name }}</a>
                    {% else %}
                        {{ sourceEntity|oro_format_name }}
                    {% endif %}
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock pageHeader %}

{% block breadcrumbs %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {{ parent() }}

    {% if false == has_workflows(entity) %}
    <span class="page-title__status">
        {% set status = {
            'active': 'enabled',
            'closed': 'disabled'
        } %}
        {% if entity.status is not null %}
            {{ UI.badge(entity.status.name, status[entity.status.id] ? status[entity.status.id] : 'disabled') }}
        {% endif %}
    </span>
    {% endif %}
{% endblock breadcrumbs %}

{% block content_data %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {%- set messagesGrid -%}
        <div class="row-fluid form-horizontal">
            <div class="responsive-block">
                {{ dataGrid.renderGrid('conversation-messages-grid', { conversation_id: entity.id }, { cssClass: 'conversation-grid inner-grid' }) }}
            </div>
        </div>
    {%- endset -%}

    {%- set messagesChat -%}
        <div class="activity-list-widget conversation-chat-holder">
            <div class="activity-list conversation-chat">
                <div class="responsive-cell">
                    {{ oro_widget_render({
                        'widgetType': 'block',
                        'wid': 'conversation_messages_' ~ entity.id,
                        'alias': 'conversation_messages_' ~ entity.id,
                        'url': path('oro_conversation_messages_list_direct', {id: entity.id}),
                        'contextsRendered': true
                    }) }}
                </div>
            </div>
        </div>
    {%- endset -%}

    {% if not isMobileVersion() %}
        {% set tabsOptions = {
            verticalTabs: false,
            useDropdown: false,
        } %}
    {% endif %}

    {% set subblocks = [
        {
            'data' : [
                tabPanel(
                    [
                        {
                            'alias': ('tabbed-content-item-messages-')|uniqid,
                            'label': 'oro.conversation.conversationmessage.chat_and_messages.chat'|trans,
                            'url': '#',
                            'content': messagesChat
                        },
                        {
                            'alias': ('tabbed-content-item-grid-')|uniqid,
                            'label': 'oro.conversation.conversationmessage.chat_and_messages.messages'|trans,
                            'url': '#',
                            'content': messagesGrid
                        }
                    ],
                    tabsOptions|default({})
                )
            ]
        }
    ] %}

    {% if is_granted('EDIT', entity) and is_granted('MANAGE_MESSAGES', entity) %}
        {% set formId = 'conversation-add-message-form-' ~ entity.id %}
        {% set bodyElementId = 'conversation-add-message-body-element-' ~ entity.id %}
        {%- set addMessageForm -%}
            <div class="conversation-message-form"
                 data-nohash="true"
                 data-page-component-module="oroui/js/app/components/view-component"
                 data-page-component-options="{{
                 {
                     'view': 'oroconversation/js/app/views/conversation-message-view',
                     'bodySelector': '#' ~ bodyElementId,
                     'formSelector': '#' ~ form.vars.id,
                     'reloadGridName': 'conversation-messages-grid',
                     'reloadWidgetAlias': 'conversation_messages_' ~ entity.id
                 }|json_encode
                 }}">

                <form id="{{ form.vars.id }}" name="{{ form.vars.name }}" action="{{ path('oro_conversation_message_create', {'id': entity.id, '_wid': 'conversation_message'}) }}" method="post">
                    {{ form_row(form.body, {'id': bodyElementId}) }}
                    {{ form_row(form.participant) }}
                    {{ form_rest(form) }}
                    <div class="control-group control-group-text" >
                        <div class="pull-right">
                            <button class="btn btn-success" type="submit"><span class="fa-paper-plane" aria-hidden="true"></span> {{ 'oro.conversation.conversationmessage.action.add'|trans }}</button>
                        </div>
                    </div>
                </form>
            </div>
        {%- endset -%}
        {% set subblocks = subblocks|merge([
                {
                    'title': 'oro.conversation.conversationmessage.action.add'|trans,
                    'data' : [addMessageForm]
                }
            ])
        %}
    {% endif %}

    {% set dataBlocks = [
        {
            'title': 'oro.conversation.conversationmessage.chat_and_messages.label'|trans,
            'subblocks': subblocks
        }
    ] %}

    {% set id = 'conversationView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}

    {{ parent() }}
{% endblock content_data %}
