{% set lastMessageDate = record.getValue('lastMessageDate')|oro_format_datetime %}
{% if lastMessageDate %}
    {% if record.getValue('have_new_messages') %}
        <strong>{{ lastMessageDate }}</strong>
    {% else %}
        {{ lastMessageDate }}
    {% endif %}
    {{ 'oro.conversation.last_message.from'|trans }}
    {% set participant = record.getValue('lastMessage.participant') %}
    {%  if participant is not null and participant.getConversationParticipantTarget() is not null %}
        {% set target = participant.getConversationParticipantTarget() %}
        {{ target|oro_conversation_participant_type }}
        {% if is_granted('VIEW', target) %}
            <a href="{{ oro_entity_object_view_link(target) }}">{{ target|oro_format_name }}</a>
        {% else %}
            {{ target|oro_format_name }}
        {% endif %}
    {% endif %}
{% endif %}
