{% extends '@OroAction/Operation/button.html.twig' %}

{% block button %}
    {% import '@OroUI/macros.html.twig' as UI %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    {% set hasConversations = buttonOptions.data.hasConversations %}
    {% set togglerId = 'conversation-dropdown-'|uniqid %}

    {% set componentOptions = {
        view: 'oroconversation/js/app/views/conversation-context-dropdown-view',
        options: buttonOptions.data|merge({
            autoRender: true
        })
    } %}

    {% if hasConversations %}
        {% set linkLabel = 'oro.conversation.storefront.questions'|trans %}
        <div class="dropdown" {{ UI.renderPageComponentAttributes(componentOptions) }}>
            <button type="button" class="btn btn btn--neutral"
                    data-toggle="dropdown"
                    id="{{ togglerId }}"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-modifiers="{{ {flip: {flipVariationsByContent: true}}|json_encode }}"
                    data-target="{{ togglerId }}"
            >
                {% if app.request.attributes.get('_layout')|default(false) and params.frontendOptions.options.icon is defined %}
                    {{ renderIcon.icon({
                        name: params.frontendOptions.options.icon,
                        extraClass: params.frontendOptions.options.iconSize is defined ? params.frontendOptions.options.iconSize : ''
                    }) }}
                {% endif %}
                {{ linkLabel|trim }}
                {{ renderIcon.icon({
                    name: 'chevron-down'
                }) }}
            </button>
            <div class="dropdown-menu" data-role="conversations" aria-labelledby="{{ togglerId }}"></div>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
