{% import '@OroUI/macros.html.twig' as UI %}
{% if feature_enabled('conversation') %}
<script type="text/template" id="conversation-notification-item-template">
    <div class="info" data-id="<%- id %>">
        <div class="body">
            <div class="title nowrap-ellipsis"><%- conversationName %></div>
            <div class="description nowrap-ellipsis"><%= message %></div>
        </div>
    </div>
    <div class="footer">
        <span class="from-name"><%- fromName %></span>
        <span class="forward-action-wrapper"><%- messageTime %></span>
    </div>
</script>
<li class="conversation-notification-menu dropdown" title="{{ 'oro.conversation.notification.menu_item.hint'|trans }}"
        {{ UI.renderPageComponentAttributes({
            module: 'oroconversation/js/app/components/user-menu-conversation-notification-component',
            options: {
                listSelector: '.dropdown-menu',
                iconSelector: '.conversation-notification-icon',
                messages: messages,
                count: unreadMessagesCount,
                wsChannel: oro_get_conversation_ws_event()
            }
        }) }}>
    {% if isDesktopVersion() %}
        {% set togglerId = 'dropdown-'|uniqid %}
        <a href="#" role="button" id="{{ togglerId }}" data-toggle="dropdown"
           class="dropdown-toggle dropdown-toggle--no-caret conversation-notification-icon"
           title="{{ 'oro.conversation.menu.my_conversations'|trans }}"
           aria-label="{{ 'oro.conversation.menu.my_conversations'|trans }}" aria-haspopup="true" aria-expanded="false"></a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="{{ togglerId }}" tabindex="0"></div>
    {% endif %}
</li>
{% endif %}
